simulated_auth.log

venv/

.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist/
build/
*.log
*.sqlite3
*.db
*.csv
*.json
*.xml
*.txt
*.md
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz


best_rf_model.joblib
tfidf.joblib
scaler.joblib

.env